<!doctype html>
<html>
    <link rel="stylesheet" type="text/css" href="/Graphic.css/" />
    <h1 style="font-size: 4rem">ChatMail</h1>
    <body style="background-color:linen;"></body>
    <div class = "block"></div>
  <br>
  <bar class = "container">
    <br>
    <form action = "inbox.html">
      <button class = "barbtn hover alignright">
          Inbox
      </button>
  </form>
  <form action = "inbox.html">
    <button class = "barbtn hover alignright">
        Checklist
    </button>
  </form>
  <form action = "inbox.html">
    <button class = "barbtn hover alignright">
      Chat
    </button>
  </form>
  <form action = "inbox.html">
    <button class = "barbtn hover alignright">
      Sent
    </button>
  </form>
  <form action = "inbox.html">
    <button class = "barbtn hover alignright">
      Drafts
    </button>
  </form>
    <drop class = "dropdown expand alignright"> </drop>
   </bar>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <block class = "txtbox midleft">
    <h1 style="font-size: 4rem ">Connect. </h1>
    <h1 style="font-size: 4rem ">Organize. </h1>
    <h1 style="font-size: 4rem ">Get things done. </h1>
  </block>
    <graphic class = "envelope topright scaledown">
      <div class = "blktriangle2"></div>
      <line class = "line"></line>
      <line class = "line2"></line>
      <div class = "blktriangle2"></div>
      <div class = "triangle"></div>
    </graphic>
    
          
  </button>
<html>