<!doctype html>
<html>
    <script src="https://kit.fontawesome.com/7a52ffdd30.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type = "text/css" href="inbox.css" />
    <form action = "graphic.html">
        <button class = "homeBtn"style = "font-size: 2rem">ChatMail
            <button class = "envelope small">
                <div class = "blktriangle2"></div>
                <line class = "line"></line>
                <line class = "line2"></line>
                <div class = "blktriangle2"></div>
                <div class = "triangle"></div>
            </button>
        </button>
    </form>
    
    <body style="background-color:rgb(255, 232, 223);"></body>
        <ul class = "inboxList sidebarOpen">
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
            <li class = "mailTile mailHover"></li>
        </ul>

        <ul class = "sidebar sidebarOpen">
            <li class = "p composeBtn h"><i class="fa-regular fa-pen-to-square"></i>&nbspCompose</li>
            <li class = "p sidebarBtn h">Inbox</li>
            <li class = "p sidebarBtn h">Sent</li>
            <li class = "p sidebarBtn h">Draft</li>
            <li class = "p sidebarBtn h">Junk</li>
        </ul>

        <ul class = "sideMenu"></ul>

    

        
    
  <br>
</html>