html {
  font-family: sans-serif;
}
.h:hover {
  filter: saturate(300%);
  font-weight: bold;
}
.homeBtn{
  position: absolute;
  top: 10px;
  left: 70px;
  width: 200px;
  background-color: rgb(255, 232, 223);
  border: none;

}
.inboxContainer{
    border-bottom: 4px solid coral;
    display: flex;
    height: 650px;
    width: 70%;
    background: gray;
    margin:0%;
    padding:0%;
    overflow-y: auto;
}
function sidebarOpen{
    margin-Left: 25%;
}

.inboxList{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 76.1%;
    margin-left: 100px;
    height: 730px;
    text-decoration: none;
    overflow-x: none;
    overflow-y: scroll;
    list-style: none;
    border-top: 0px solid gray;
    border-left: none;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    background-color: white;
    transition:all .3s;
}
.sidebar{
    position: absolute;
    bottom: 0px;
    left: 5%;
    width: 15.5%;
    margin-left: 10px;
    height: 700px;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
    list-style: none;
    border-top: 0px solid rgb(255, 232, 223);
    border-left: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 232, 223);
    transition:all .3s;
}
.sideMenu{
    position: absolute;
    bottom: 0px;
    width: 4%;
    margin-left: 0px;
    height: 100%;
    text-decoration: none;
    overflow-x: hidden;
    overflow-y: hidden;
    list-style: none;
    border-top: 0px solid gray;
    border-left: none;
    border-radius: 0px;
    margin: 0;
    padding: 0;
    background-color: grey;
    transition:all .3s;
}
.sidebarBtn{
    position: relative;
    color: rgb(84, 35, 14);
    width: 96%;
    height: 24px;
    left:2%;
    line-height: 24px;
    background-color: rgb(255, 232, 223);
    border-top: none;
    border-left: none;
    border-bottom:0px solid rgb(255, 232, 223);
    border-right: none;
    border-radius: 200px;
    margin-bottom:1%;
    text-decoration: none;
    text-align:center;
    padding:1px
}
.composeBtn{
  position: relative;
  color: rgb(84, 35, 14);
  width: 60%;
  height: 60px;
  left:20%;
  line-height: 60px;
  background-color: rgb(255, 207, 188);
  border-top: none;
  border-left: none;
  border-bottom:0px solid gray;
  border-right: none;
  border-radius: 20px;
  margin-bottom:1%;
  text-decoration: none;
  text-align:center;
  padding:1px
}
.mailTile{
    color: white;
    bottom:100px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: white;
    border-top: none;
    border-left: none;
    border-bottom:2px solid gray;
    border-right: none;
    margin:0%;
    text-decoration: none;
    text-align: center;
}
.mailHover:hover {
    background-color: white;
    border-left: 2px solid grey;
    border-color: black;
    box-shadow: 0px 5px 7px black;
  }
  
body{
    overflow: hidden;
  }
  .midleft{
    position: absolute;
    left: 50px;
  }
  .txtbox{
    display: flex;
  }
  .topleft{
    position: absolute;
    top: -64px;
    left: 15px;
  }
  .alignright{
    right: auto;
  }
  .scaledown{
    scale: 60%;
  }
  .small{
    scale: 15%;
  }
  .block{
      height: 100%;
      width: 100%;
      background-color: coral;
  }
  .container{
      border-bottom: 4px solid coral;
      display: flex;
      height: 40px;
      width: 100%;
      background: gray;
      margin:0%;
      padding:0%;
  }
  .dropdown{
      border-bottom: 1px solid coral;
      display: flex;
      height: 40px;
      width: 100px;
      background: gray;
      transition: all .1s;
      
  }
    .triangle{
      width: 0px; 
      height: 0px; 
      position: absolute;
      margin-top: -97px;
      margin-left: -10px;
      margin-right: 0px;
      border-left: 152px solid transparent;
      border-right: 152px solid transparent;
      border-top: 120px solid coral;
      transition: all .3s;
      border-radius: 26px;
        
    }
    .blktriangle{
      width: 0px; 
      height: 0px; 
      position: absolute;
      margin-top: 55px;
      margin-left: 46px;
      margin-right: 150px;
      border-left: 104px solid transparent;
      border-right: 104px solid transparent;
      border-top: 104px solid black;
      transition: all .3s;
        
    }
    .blktriangle2{
      width: 0px; 
      height: 0px; 
      position: absolute;
      margin-top: -98px;
      margin-left: -16px;
      margin-right: 0px;
      border-left: 158px solid transparent;
      border-right: 158px solid transparent;
      border-top: 127px solid black;
      transition: all .3s;
      border-radius: 36px;
        
    }
  .envelope{
      position: absolute;
      top: -68px;
      left: 105px;
      display: block;
      width: 300px; 
      height: 200px; 
      border: 4px solid black;
      border-radius: 25px;
      transition: all .3s;
      background-color: white;
    }
  .line{
    height: 5px;
    width: 300px;
    display:block;
    position: absolute;
    margin-top: -50px;
    margin-left: -15px;
    margin-right: auto;
    background-color: gray;
  }
  .line2{
    height: 5px;
    width: 300px;
    display:block;
    position: absolute;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: auto;
    background-color: gray;
  }
  
    .expand:hover{
      transform: scaleY(4) translateY(16px);
    }
    #btnControl {
        display: none;
        transition: all .3s;
    }
    
    #btnControl:checked + label {
        transform: rotate(180deg)
    }
     
    .flip:hover{
      transform: rotate(180deg);
    }
      
    
    .barbtn{
      color: white;
      bottom:100px;
      width: 100px;
      height: 40px;
      background-color: grey;
      border-top: none;
      border-left: none;
      border-bottom: none;
      border-right: 2px solid coral;
      
      transition:all .3s;
    }
    .hover:hover {
      transform: translateY(-4px);
      background-color: coral;
      height: 45px;
    }
    
    
    /* CSS HEX */
    :root{
    --coral: #ff7a59ff;
    --dark: #310a31ff;
    --dutch: #ecdcb0ff;
    --dim: #726e75ff;
    --linen: #f7ece1ff;
    --oran: #ff5c33ff;
    }
   