<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Page Chatmail</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
    <style>
      .post {
        padding: 10px;
        margin: 5px;
        background-color: #f3f3f3;
      }

      nav a {
        color: #000000;
        margin-left: 50px;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav>
      <b><a href="{{ url_for('index') }}">ChatMail</a></b>

      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('profile', username=current_user.username) }}">{{current_user.username}}</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </nav>
    <hr />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% block content %} {% endblock %}
  </body>
</html>
<!-- 
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Page Chatmail</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    
  </body>
</html> -->
