{% extends "base.html" %}

{% block content %}
  <h1>Edit Profile</h1>
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% if section=='username' %}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>

    </p>
    {% elif section == 'password' %}
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>

    </p>
    {% elif section == 'email' %}
    <p>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}<br>
    </p>
    {% elif section == 'first' %}
    <p>
      {{ form.first.label }}<br>
      {{ form.first(size=32) }}<br>
    </p>
    {% elif section == 'last' %}
    <p>
      {{ form.last.label }}<br>
      {{ form.last(size=32) }}<br>
    </p>
    {% elif section == 'bio' %}
    <p>
      {{ form.bio.label }}<br>
      {{ form.bio(cols=50, rows=4) }}<br>

    </p>
    {% elif section == 'profilePic' %}
    <p>
      {{ form.profilePic.label }}<br>
      {{ form.profilePic() }}<br>
    </p>

    {% endif %}
    <p>{{ form.submit }}</p>
  </form>
{% endblock %}