<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Page Chatmail</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    
    <div class="container">
    <div class="header">
      <nav>
        <ul id="logout">
          <li role="presentation" class="active">
            <a href="/welcome">Logout</a>
          </li>
        </ul>
        <ul id="profile page">
          <li role="presentation" class="active">
            <a href="/profile">Profile</a>
          </li>
        </ul>
      </nav>
    </div> -->
    
{% extends 'base.html' %} {% block content %}

<h1>{% block title %} Email {% endblock %}</h1>

{% for post in posts %}

<div class="post">
  <p><b>#{{ post.id }}</b></p>
  <p>{{ post.body }}</p>
</div>

{% endfor %} {% endblock %}
  </body>
</html>