<!-- Extends Base.html file's information allowing us to keep the navigation bar -->
{% extends "base.html" %}

{% block content %}
<div class="container" id="logincontainer">
          <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
              <div class="col-md-6 px-0">
                    <form action="" method="POST" name="myform">
                        {{ form.hidden_tag() }}
                        <h4 align="justify">Add Task</h4> <br>
                        {{ form.text(size=32) }}<br> <br>
                        
                        <br>

                        {{ form.submit }}
                    </form>
                    </div>
                    </div>
                    </div>



{% endblock %}
