<html>
  <head>
    <title>User Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <div class="header">
      <nav>
        <ul id="logout">
          <li role="presentation" class="active">
            <a href="/welcome">Logout</a>
          </li>
        </ul>
        <ul id="editProfile">
          <li role="presentation" class="active">
            <a href="/editProfile">Edit Profile</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <h1>User Profile</h1>
      <br />

      <p>

        Name: {{ username }}<br />
        Email: {{email}} <br />
        Password: {{password}} <br />
      </p>


      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>
    </div>
  </body>
</html>
